name: 自动化创建Docker镜像

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: 检查代码
        uses: actions/checkout@v2

      - name: 登录 Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: 构建Docker镜像
        run: docker build -t setube/vue-xiuxiangame:latest

      - name: 推送到Docker Hub
        run: docker push setube/vue-xiuxiangame:latest 
